Repository TheAlgorithms/C, pull requests merged in 2020-09, with the labels that each got.

#595 Feature: Added segment_trees Closes #561
  DIRECTORY.md
  data_structures/binary_trees/segment_tree.c
Labels: approved, enhancement

#601 fix: LGTM warning/alert
  sorting/multikey_quick_sort.c
Labels: Admin views requested, bugfix

#600 feat:Add Polynomial Addition
  DIRECTORY.md
  misc/poly_add.c
Labels: approved, enhancement

#604 Added math function power
  DIRECTORY.md
  misc/power.c
  misc/power_recursion.c
Labels: approved, enhancement

#606 Added strlen function
  DIRECTORY.md
  strings/strlen.c
  strings/strlen_recursion.c
Labels: approved, enhancement

#610 [feat/fix]: Add contributing guidelines and update templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Labels: Admin views requested, approved, enhancement
