Repository TheAlgorithms/C, pull requests merged in 2020-10, with the labels that each got.

#617 Update stack.c
  data_structures/stack.c
Labels: Admin views requested, approved

#616 Update queue.c
  data_structures/queue.c
Labels: Admin views requested, approved

#636 [fix/feat]: Added Code of Conduct
  CODE_OF_CONDUCT.md
Labels: Admin views requested, approved, enhancement

#629 Added octal to binary conversion
  DIRECTORY.md
  conversions/octal_to_binary.c
Labels: Admin views requested, approved, enhancement

#671 feat: guidelines for reviewers
  REVIEWER_CODE.md
Labels: approved, enhancement

#679 Rename CircularLinkedList.C to circular_linked_list.c
  data_structures/linked_list/circular_linked_list.c
Labels: approved, enhancement

#684 Rename redblacktree.c to red_black_tree.c
  DIRECTORY.md
  data_structures/binary_trees/avl_tree.c
  data_structures/binary_trees/red_black_tree.c
  data_structures/linked_list/ascending_priority_queue.c
Labels: approved, enhancement

#658 Add another hexadecimal to octal conversion
  DIRECTORY.md
  conversions/hexadecimal_to_octal2.c
Labels: approved, enhancement

#730 fix: Update conversions/binary_to_decimal.c
  conversions/binary_to_decimal.c
Labels: approved, enhancement
