Repository TheAlgorithms/C, pull requests merged in 2020-07, with the labels that each got.

#558 [enhancement] more elaborate README
  README.md
Labels: enhancement

#559 [Bug] gnome sort: reverted merge commit adding error
  sorting/gnome_sort.c
Labels: bug

#557 [enhancement] New Graphics implementation with algorithm for spirograph
  .gitpod.dockerfile
  CMakeLists.txt
  DIRECTORY.md
  graphics/CMakeLists.txt
  graphics/spirograph.c
Labels: enhancement

#580 [enhancement] formatted and added `Hash` directory to cmake
  .clang-tidy
  CMakeLists.txt
  DIRECTORY.md
  hash/CMakeLists.txt
  hash/README.md
  hash/hash.c
  hash/hash.h
  hash/hash_adler32.c
  hash/hash_crc32.c
  hash/hash_djb2.c
  hash/hash_sdbm.c
  hash/hash_xor8.c
  hash/test_program.c
Labels: enhancement

#530 Added a new Tic Tac Toe game made using C
  CMakeLists.txt
  games/CMakeLists.txt
  games/tic-tac-toe.c
Labels: Awaiting author response, bug
