Repository TheAlgorithms/C, pull requests merged in 2021-11, with the labels that each got.

#913 fix: Update the CoC to match the `.github` repository
  CODE_OF_CONDUCT.md
Labels: enhancement

#915 gitpod: don't lock extensions' version
  .gitpod.yml
Labels: enhancement, approved

#917 fix: Update Gitpod extensions
  .gitpod.yml
Labels: enhancement

#919 fix: Hotfix/awesome zero files
  .github/workflows/awesome_workflow.yml
Labels: bugfix
