Repository TheAlgorithms/C, pull requests merged in 2021-12, with the labels that each got.

#920 docs: remove redundant space before comma
  games/tic_tac_toe.c
Labels: bugfix

#921 fix: merge sort bug
  sorting/merge_sort.c
Labels: bugfix

#897 feat: leetcode zigzag solution
  DIRECTORY.md
  leetcode/README.md
  leetcode/src/6.c
Labels: enhancement, approved

#923 fix: free the allocated resources in quick sort
  sorting/quick_sort.c
Labels: enhancement
