Repository TheAlgorithms/C, pull requests merged in 2021-07, with the labels that each got.

#839 [feat/fix]: Improve the contributing guidelines
  CONTRIBUTING.md
Labels: approved, enhancement

#838 tests: added `get_angle` test function in geometry/vector3d
  geometry/vectors_3d.c
Labels: approved, enhancement

#842 docs: Changes in README
  README.md
Labels: enhancement, good first issue

#845 feat: Convert all issue templates into issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/other.yml
Labels: Admin views requested, approved, enhancement

#844 feat: Add floyd cycle-detection-algorithm to find duplicate number
  DIRECTORY.md
  searching/floyd_cycle_detection_algorithm.c
Labels: approved, enhancement

#841 feat: Added a program that prints words in alphabetical order using binary tree data structure
  DIRECTORY.md
  data_structures/binary_trees/words_alphabetical.c
Labels: approved, enhancement
