Repository TheAlgorithms/C, pull requests merged in 2021-10, with the labels that each got.

#858 feat: add G.711 a-law algorithm
  CMakeLists.txt
  DIRECTORY.md
  audio/CMakeLists.txt
  audio/alaw.c
Labels: enhancement, approved

#860 feat: Add stale workflow
  .github/workflows/stale.yml
Labels: enhancement

#907 Revert "fix: #898 another fix for Awesome workflow nodir_files problem"
  .github/workflows/awesome_workflow.yml
Labels: approved
