Repository TheAlgorithms/C, pull requests merged in 2022-11, with the labels that each got.

#1022 feat: leetcode Next Greater Node In Linked List solution (1019)
  leetcode/README.md
  leetcode/src/1019.c
Labels: enhancement, Leetcode folder changes

#1021 feat: leetcode Construct Binary Search Tree from Preorder Traversal s…
  leetcode/README.md
  leetcode/src/1008.c
Labels: enhancement, Leetcode folder changes

#981 Create 485.c
  leetcode/README.md
  leetcode/src/485.c
Labels: enhancement, Leetcode folder changes

#977 Added a Vector implementation in data structures.
  data_structures/vector.c
Labels: enhancement, approved

#1128 fix: added solution link to problem 62
  leetcode/README.md
Labels: approved, bugfix

#1131 docs: add a guide for new LeetCode solutions
  CONTRIBUTING.md
  DIRECTORY.md
  leetcode/DIRECTORY.md
  leetcode/README.md
Labels: enhancement, approved

#1033 Added leetcode problem 10
  leetcode/DIRECTORY.md
  leetcode/src/10.c
Labels: enhancement, Leetcode folder changes

#1143 fix: Removed double / unintended free
  data_structures/dynamic_array/dynamic_array.c
Labels: enhancement, approved

#982 Added Max Consecutive Ones in Leetcode folder
  leetcode/DIRECTORY.md
  leetcode/src/14.c
Labels: enhancement, Leetcode folder changes

#1133 Update tic_tac_toe.c
  games/tic_tac_toe.c
Labels: bugfix

#1008 Misc rot13
  misc/rot13.c
Labels: enhancement, approved, hacktoberfest-accepted

#1136 add complinent of 10 integer
  leetcode/DIRECTORY.md
  leetcode/src/1009.c
Labels: enhancement, Leetcode folder changes

#968 Added non_preemptive_priority_scheduling in Process Scheduling Algorithm
  DIRECTORY.md
  process_scheduling_algorithms/non_preemptive_priority_scheduling.c
Labels: enhancement, approved

#1141 add Check if Array Is Sorted and Rotated
  leetcode/DIRECTORY.md
  leetcode/src/1752.c
Labels: enhancement, Leetcode folder changes

#1139 add Number of Sub-arrays With Odd Sum
  leetcode/DIRECTORY.md
  leetcode/src/1524.c
Labels: enhancement, Leetcode folder changes

#1148 Power of Two improvements. avoid loop and recursion.
  leetcode/src/231.c
Labels: enhancement

#1158 Update naval_battle.c
  games/naval_battle.c
Labels: enhancement

#1159 fix: use FreeGlut newest GitHub link
  DIRECTORY.md
  graphics/CMakeLists.txt
Labels: enhancement, approved

#1132 add trapping rain water.
  leetcode/DIRECTORY.md
  leetcode/README.md
  leetcode/src/42.c
Labels: enhancement, Leetcode folder changes

#1144 add Minimum Path Cost in a Grid leetcode
  leetcode/DIRECTORY.md
  leetcode/src/2304.c
Labels: enhancement, Leetcode folder changes

#1145 add Sum of Even Numbers After Queries leetcode task
  leetcode/DIRECTORY.md
  leetcode/src/985.c
Labels: enhancement, Leetcode folder changes

#1142 add Online Stock Span
  leetcode/DIRECTORY.md
  leetcode/src/901.c
Labels: enhancement, Leetcode folder changes

#1138 add Minimum Deletions to Make String Balanced
  leetcode/DIRECTORY.md
  leetcode/src/1653.c
Labels: enhancement, Leetcode folder changes

#1153 add Validate Binary Search Tree
  leetcode/DIRECTORY.md
  leetcode/src/98.c
Labels: enhancement, Leetcode folder changes
