Repository TheAlgorithms/C, pull requests merged in 2022-10, with the labels that each got.

#996 added leetcode problem 118
  leetcode/README.md
  leetcode/src/118.c
Labels: enhancement, Leetcode folder changes

#988 feat: leetcode Maximum Twin Sum of a Linked List solution (2130)
  leetcode/README.md
  leetcode/src/2130.c
Labels: enhancement, Leetcode folder changes

#1065 Updates all Discord links closes #1054
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
Labels: enhancement, invalid

#1061 Add Solution of 62 ques of Leet Code
  leetcode/README.md
  leetcode/src/62.c
Labels: enhancement, Leetcode folder changes

#1096 chore: use the `DIRECTORY.md` workflow from the `scripts` repository
  .github/workflows/awesome_workflow.yml
  DIRECTORY.md
Labels: enhancement, approved

#997 feat: add Leetcode problem 119
  leetcode/README.md
  leetcode/src/119.c
Labels: enhancement, Leetcode folder changes

#1062 feat: add LeetCode problem 62
  leetcode/README.md
  leetcode/src/63.c
Labels: enhancement, Leetcode folder changes
