Repository TheAlgorithms/C, pull requests merged in 2022-12, with the labels that each got.

#1104 feat: added roman_numerals_to_decimal.c
  conversions/roman_numerals_to_decimal.c
Labels: enhancement, hacktoberfest-accepted

#1150 add Maximize the Confusion of an Exam leetcode
  leetcode/DIRECTORY.md
  leetcode/src/2024.c
Labels: enhancement, Leetcode folder changes

#1129 feat: added celsius_to_fahrenheit.c
  conversions/celsius_to_fahrenheit.c
Labels: enhancement, hacktoberfest-accepted

#1146 add Minimum Number of Operations to Move All Balls to Each Box leetcode
  leetcode/DIRECTORY.md
  leetcode/src/1769.c
Labels: enhancement, Leetcode folder changes

#1156 add leetcode Trim a Binary Search Tree
  leetcode/DIRECTORY.md
  leetcode/src/669.c
Labels: enhancement, Leetcode folder changes

#1137 add leetcode Maximum Erasure Value
  leetcode/DIRECTORY.md
  leetcode/src/1695.c
Labels: enhancement, Leetcode folder changes

#1176 Fix Awesome Workflow
  .github/workflows/awesome_workflow.yml
  .github/workflows/codeql.yml
  .github/workflows/codeql_analysis.yml
  .github/workflows/gh-pages.yml
  DIRECTORY.md
Labels: bugfix

#1166 add leetcode Longest Valid Parentheses
  leetcode/DIRECTORY.md
  leetcode/src/32.c
Labels: Leetcode folder changes

#1165 add leetcode Number of Ways to Split Array
  leetcode/DIRECTORY.md
  leetcode/src/2270.c
Labels: Leetcode folder changes

#1168 add leetcode Determine if String Halves Are Alike
  leetcode/DIRECTORY.md
  leetcode/src/1704.c
Labels: Leetcode folder changes

#1157 add leetcode Kth Smallest Element in a BST
  leetcode/DIRECTORY.md
  leetcode/src/230.c
Labels: enhancement, Leetcode folder changes

#1160 add leetcode Word Search
  leetcode/DIRECTORY.md
  leetcode/src/79.c
Labels: enhancement, Leetcode folder changes

#1140 add Number of Ways to Select Buildings
  leetcode/DIRECTORY.md
  leetcode/src/2222.c
Labels: enhancement, Leetcode folder changes

#1162 add leetcode sudoku solver
  leetcode/DIRECTORY.md
  leetcode/src/37.c
Labels: enhancement, Leetcode folder changes

#1155 add leetcode Lowest Common Ancestor of a Binary Tree
  leetcode/DIRECTORY.md
  leetcode/src/236.c
Labels: enhancement, Leetcode folder changes

#1163 docs: add guide on integrating CMake
  CONTRIBUTING.md
Labels: enhancement, approved

#1190 Using the newly created filename_formatter action in workflow
  .github/workflows/awesome_workflow.yml
  DIRECTORY.md
Labels: enhancement

#1188 add leetcode H-Index
  leetcode/DIRECTORY.md
  leetcode/src/274.c
Labels: Leetcode folder changes

#1164 add LCS algorithm (dynamic programming approach)
  DIRECTORY.md
  dynamic_programming/lcs.c
Labels: enhancement, approved

#1173 add leetcode Max Increase to Keep City Skyline
  leetcode/DIRECTORY.md
  leetcode/src/807.c
Labels: Leetcode folder changes

#1171 add leetcode Minimum Average Difference
  DIRECTORY.md
  leetcode/DIRECTORY.md
  leetcode/src/2256.c
Labels: Leetcode folder changes

#1193 Added process_scheduling_algorithms
  CMakeLists.txt
  process_scheduling_algorithms/CMakeLists.txt
Labels: enhancement
