Repository TheAlgorithms/C, pull requests merged in 2023-04, with the labels that each got.

#1233 feat: add bisection method
  numerical_methods/bisection_method.c
Labels: enhancement

#1234 docs: fixed some documentation errors in BLAKE2b
  hash/hash_blake2b.c
Labels: enhancement

#1243 Fix: Segmentation fault in merge_sort.c and print message
  sorting/merge_sort.c
Labels: bugfix

#1241 feat: Add McNaughton–Yamada–Thompson algorithm
  DIRECTORY.md
  misc/mcnaughton_yamada_thompson.c
Labels: enhancement

#1238 feat: added extended Euclidean algorithm
  math/euclidean_algorithm_extended.c
Labels: enhancement

#1245 feat: Added affine cipher
  cipher/affine.c
Labels: enhancement

#1232 Update fibonacci.c
  math/fibonacci.c
Labels: enhancement

#1250 docs: add self-test examples
  CONTRIBUTING.md
  DIRECTORY.md
Labels: enhancement, approved

#1252 feat: add LeetCode problem 434
  leetcode/DIRECTORY.md
  leetcode/src/434.c
Labels: Leetcode folder changes

#1248 feat: added hangman game #967
  games/hangman.c
  games/words.txt
Labels: enhancement
