Repository TheAlgorithms/C, pull requests merged in 2023-07, with the labels that each got.

#1264 chore: add codeowners
  .github/CODEOWNERS
Labels: enhancement

#1273 docs: update workflow versions in `README.md`
  README.md
Labels: enhancement

#1281 fix: LeetCode directory writer
  .github/workflows/leetcode_directory_writer.yml
Labels: approved, bugfix

#1284 chore: update CMake version #1271
  CMakeLists.txt
Labels: enhancement

#1285 fix: Failed to execute cmake at client_server directory. #942
  client_server/CMakeLists.txt
Labels: bugfix
