Repository TheAlgorithms/C, pull requests merged in 2023-03, with the labels that each got.

#1225 Update Leetcode/README.md
  DIRECTORY.md
  leetcode/README.md
Labels: approved, Leetcode folder changes

#1038 Create circular_doubly_linked_list.c
  DIRECTORY.md
  data_structures/linked_list/circular_doubly_linked_list.c
Labels: enhancement, on hold, dont-close

#1222 feat: remove nth node from end of list (leetcode #19)
  leetcode/DIRECTORY.md
  leetcode/src/19.c
Labels: Leetcode folder changes

#1230 feat: implemented BLAKE2b cryptographic hashing algorithm
  DIRECTORY.md
  hash/README.md
  hash/hash_blake2b.c
Labels: enhancement

#1220 fix: memory allocation method
  data_structures/graphs/kruskal.c
  leetcode/DIRECTORY.md
Labels: bugfix

#1236 chore: add `math` to CMake lists
  CMakeLists.txt
  math/CMakeLists.txt
Labels: enhancement

#1231 feat: create a PR when building the LeetCode directory
  .github/workflows/leetcode_directory_writer.yml
  DIRECTORY.md
Labels: enhancement

#1240 fix: ignore the LeetCode folder on `DIRECTORY.md`
  .github/workflows/awesome_workflow.yml
  DIRECTORY.md
Labels: enhancement, approved
