Repository TheAlgorithms/C, pull requests merged in 2023-02, with the labels that each got.

#1202 add leetcode n-th Tribonacci number
  leetcode/DIRECTORY.md
  leetcode/src/1137.c
Labels: Leetcode folder changes

#1198 Add matrix chain order
  DIRECTORY.md
  dynamic_programming/matrix_chain_order.c
Labels: enhancement

#1205 add leetcode Verifying an Alien Dictionary
  leetcode/DIRECTORY.md
  leetcode/src/953.c
Labels: Leetcode folder changes

#1207 add leetcode Permutation in String
  leetcode/DIRECTORY.md
  leetcode/src/567.c
Labels: Leetcode folder changes

#1218 fix: Typo in avl_tree.c
  data_structures/binary_trees/avl_tree.c
Labels: bugfix

#1212 Add Patience Sort
  DIRECTORY.md
  sorting/patience_sort.c
Labels: enhancement

#1216 feat: add solution for the 3Sum Closest problem (#16)
  leetcode/DIRECTORY.md
  leetcode/src/16.c
Labels: Leetcode folder changes

#1217 feat: add LeetCode problem 540
  leetcode/DIRECTORY.md
  leetcode/src/540.c
Labels: Leetcode folder changes

#1210 feat: add Longest Palindrome Substring solution
  leetcode/DIRECTORY.md
  leetcode/src/5.c
Labels: Leetcode folder changes

#1219 Add Shunting Yard Algorithm
  DIRECTORY.md
  misc/shunting_yard.c
Labels: enhancement

#1213 Add leetcode jump game ii
  leetcode/DIRECTORY.md
  leetcode/src/45.c
Labels: Leetcode folder changes

#1221 feat: add Letter combinations of phone book problem (#17)
  leetcode/DIRECTORY.md
  leetcode/src/17.c
Labels: Leetcode folder changes
