Repository TheAlgorithms/C, pull requests merged in 2023-06, with the labels that each got.

#1255 feat: add secant method
  numerical_methods/secant_method.c
Labels: enhancement

#1254 feat: label when the build fails
  .github/workflows/awesome_workflow.yml
  DIRECTORY.md
Labels: enhancement, dont-close

#1261 Create dynamic_stack.c
  data_structures/stack/dynamic_stack.c
Labels: enhancement

#1276 chore: improve the LeetCode directory writer
  .github/workflows/leetcode_directory_writer.yml
  DIRECTORY.md
Labels: enhancement, approved

#1266 feat: add `dynamic_programming` to CMake lists
  CMakeLists.txt
  dynamic_programming/CMakeLists.txt
  dynamic_programming/lcs.c
Labels: enhancement, approved

#1265 changed list length to reflect contents of the list
  data_structures/list/list.c
Labels: enhancement

#1259 feat: add LeetCode problem 69
  leetcode/src/69.c
Labels: Leetcode folder changes
