Repository TheAlgorithms/C, pull requests merged in 2023-01, with the labels that each got.

#1191 add labeler for Leetcode changes folder
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement

#1092 Update singly_link_list_deletion.c
  data_structures/linked_list/singly_link_list_deletion.c
Labels: enhancement

#1174 add leetcode Number of Laser Beams in a Bank
  leetcode/DIRECTORY.md
  leetcode/src/2125.c
Labels: Leetcode folder changes

#1180 add leetcode Maximum Difference Between Node and Ancestor
  leetcode/DIRECTORY.md
  leetcode/src/1026.c
Labels: Leetcode folder changes

#1182 add leetcode Minimum Falling Path Sum
  leetcode/DIRECTORY.md
  leetcode/src/931.c
Labels: Leetcode folder changes

#1185 add leetcode Longest Square Streak in an Array
  leetcode/DIRECTORY.md
  leetcode/src/2501.c
Labels: Leetcode folder changes

#1184 add leetcode Longest Chunked Palindrome Decomposition
  leetcode/DIRECTORY.md
  leetcode/src/1147.c
Labels: Leetcode folder changes

#1189 add leetcode Keys and Rooms
  leetcode/DIRECTORY.md
  leetcode/src/841.c
Labels: Leetcode folder changes

#1023 feat: leetcode Delete the Middle Node of a Linked List solution (2095)
  leetcode/DIRECTORY.md
  leetcode/README.md
  leetcode/src/2095.c
Labels: enhancement, Leetcode folder changes

#1183 add leetcode Difference Between Ones and Zeros in Row and Column
  leetcode/DIRECTORY.md
  leetcode/src/2482.c
Labels: Leetcode folder changes

#1195 add leetcode Frequency of the Most Frequent Element
  leetcode/DIRECTORY.md
  leetcode/src/1838.c
Labels: Leetcode folder changes

#1175 add leetcode Find the Smallest Divisor Given a Threshold
  leetcode/DIRECTORY.md
  leetcode/src/1283.c
Labels: Leetcode folder changes

#1192 add leetcode Determine if Two Strings Are Close
  leetcode/DIRECTORY.md
  leetcode/src/1657.c
Labels: Leetcode folder changes

#1196 add leetcode Maximum Bags With Full Capacity of Rocks
  leetcode/DIRECTORY.md
  leetcode/src/2279.c
Labels: Leetcode folder changes

#1197 add leetcode Maximum Ice Cream Bars
  leetcode/DIRECTORY.md
  leetcode/src/1833.c
Labels: Leetcode folder changes

#1113 added leetcode problem 75
  DIRECTORY.md
  leetcode/DIRECTORY.md
  leetcode/src/75.c
Labels: enhancement, Leetcode folder changes

#1179 add leetcode Binary Tree Maximum Path Sum
  leetcode/DIRECTORY.md
  leetcode/src/124.c
Labels: Leetcode folder changes

#1187 Add leetcode directory writer
  .github/workflows/leetcode_directory_writer.yml
  leetcode/DIRECTORY.md
  scripts/leetcode_directory_md.py
Labels: enhancement, Leetcode folder changes

#1194 add leetcode Pow(x, n)
  leetcode/DIRECTORY.md
  leetcode/src/50.c
Labels: Leetcode folder changes

#1203 fix indentation for leetcode_directory_md.py
  scripts/leetcode_directory_md.py
Labels: bugfix

#1200 feat: add hamming distance
  DIRECTORY.md
  misc/hamming_distance.c
Labels: enhancement

#1199 add leetcode Find the Town Judge
  leetcode/DIRECTORY.md
  leetcode/src/997.c
Labels: Leetcode folder changes
